# dependencies
node_modules/

# logs
*.log

# Optional eslint cache
.eslintcache

# IDE
.idea/

# misc
.DS_Store

# production
aws/public/
aws/certs/
aws/*.sh
public/

# vscode
.vscode/chrome

# test coverage
src/tests/coverage/
