@charset "UTF-8";

@use 'foundation' as *;

$_gap: 5px;

@for $i from 0 to 16 {
  .u-mb#{$i * strip-unit($_gap)} {
    margin-bottom: $i * $_gap;

    &-pc {
      @include view-at(p) {
        margin-bottom: $i * $_gap;
      }
    }

    &-sp {
      @include view-at(s) {
        margin-bottom: $i * $_gap;
      }
    }
  }
}
