@charset "UTF-8";

@use 'foundation' as f;

$_gap: 5px;

@for $i from 0 to 16 {
  .u-mt#{$i * f.strip-unit($_gap)} {
    margin-top: $i * $_gap;

    &-pc {
      @include f.view-at(p) {
        margin-top: $i * $_gap;
      }
    }

    &-sp {
      @include f.view-at(s) {
        margin-top: $i * $_gap;
      }
    }
  }
}
