@charset "UTF-8";

@use 'foundation' as f;

.u-weight-bold {
  font-weight: f.$font-weight-bold;
}

.u-weight-normal {
  font-weight: f.$font-weight-normal;
}

.u-weight-light {
  font-weight: f.$font-weight-light;
}

.u-weight-bold-pc {
  @include f.view-at(p) {
    font-weight: f.$font-weight-bold;
  }
}

.u-weight-normal-pc {
  @include f.view-at(p) {
    font-weight: f.$font-weight-normal;
  }
}

.u-weight-light-pc {
  @include f.view-at(p) {
    font-weight: f.$font-weight-light;
  }
}

.u-weight-bold-sp {
  @include f.view-at(s) {
    font-weight: f.$font-weight-bold;
  }
}

.u-weight-normal-sp {
  @include f.view-at(s) {
    font-weight: f.$font-weight-normal;
  }
}

.u-weight-light-sp {
  @include f.view-at(s) {
    font-weight: f.$font-weight-light;
  }
}
