@charset "UTF-8";

@use './foundation' as f;

.p-clock {
  bottom: -10px;
  left: -10px;
  padding: 4px 7.5px 3px;
  border-bottom: 5px solid f.$colour-japanese-laurel;
  opacity: .55;
  background-color: rgba(f.$colour-black, .8);
  color: f.$colour-white;
  font-size: 1.2em;
}
