@charset "UTF-8";

@use 'foundation' as *;

$_duration-pulse: 2s;
$_iteration-pulse: infinite;

@mixin _opacity-pulse($colour-name, $colour) {
  @keyframes _opacity-pulse-#{$colour-name} {
    0% {
      opacity: 0.1;
      fill: $colour;
    }

    50% {
      opacity: 1;
      fill: $colour;
    }

    100% {
      opacity: 0.1;
      fill: $colour;
    }
  }
}

@include _opacity-pulse('contessa', $colour-contessa);
@include _opacity-pulse('yellow', $colour-yellow);

.p-custom-marker {
  & .ring-inner {
    opacity: 0;

    &[aria-label='warning'] {
      animation: _opacity-pulse-contessa $_duration-pulse cubic-bezier(0.4, 0.74, 0.56, 0.82) $_iteration-pulse;
    }

    &[aria-label='caution'] {
      animation: _opacity-pulse-yellow $_duration-pulse cubic-bezier(0.4, 0.74, 0.56, 0.82) $_iteration-pulse;
    }

    &[aria-hidden='true'] {
      display: none;
    }
  }

  & .ring-outer {
    opacity: 0;

    &[aria-label='warning'] {
      animation: _opacity-pulse-contessa $_duration-pulse cubic-bezier(1, 0.14, 1, 1) $_iteration-pulse;
    }

    &[aria-label='caution'] {
      animation: _opacity-pulse-yellow $_duration-pulse cubic-bezier(1, 0.14, 1, 1) $_iteration-pulse;
    }

    &[aria-hidden='true'] {
      display: none;
    }
  }
}
