@charset "UTF-8";

@use 'foundation' as f;

.p-modal-auth {
  width: 100%;
  max-width: 300px;
  max-height: 250px;
  margin: auto;
  border-radius: 2px;
  background: inherit;

  @include f.view-at('p') {
    padding: 25px;
  }

  &::after {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    max-width: 300px;
    height: 100%;
    max-height: 250px;
    margin: auto;
    margin-top: 0;
    background: inherit;
    box-shadow: 0 0 0 200px rgba(255, 255, 255, .05) inset;
    filter: blur(10px);
  }

  &__btn {
    color: f.$colour-white;
    font-size: 16px;
    font-weight: f.$font-weight-bold;
    line-height: 22px;

    &:not(:first-child) {
      margin-top: 20px;
    }

    &--facebook {
      background-color: f.$colour-facebook;
    }

    &--twitter {
      background-color: f.$colour-blue;
    }

    &--line {
      background-color: f.$colour-line;
    }

    &--email {
      background-color: f.$colour-red;
    }

    // todo: elements must not be nested
    &__inner {
      display: flex;
      padding: .5em .5em .5em 1em;
      cursor: pointer;

      & > img {
        width: 20px;
        height: 20px;
      }

      & > span {
        text-indent: .8em;
      }
    }

    &:hover {
      opacity: .8;
    }

    &:focus {
      // box-shadow: 0 0 4px $colour-red;
    }

    &:disabled {
      cursor: default;

      &::after {
        display: none;
      }

      &:hover {
        opacity: 1;
      }

      &:active {
        opacity: 1;
      }
    }
  }
}
