@charset "UTF-8";

@use 'foundation' as *;

.p-popup {
  min-width: 140px;

  & > div > div {
    margin: 13px;
    padding-top: 3px;
  }

  &__content {
    margin: 0;
    line-height: 1.65;
    word-break: break-word;

    &__user-name {
      display: inline-block;
      margin-right: 0.5em;
      font-weight: $font-weight-bold;
    }

    &__posted-at {
      @include link-all-status-content {
        color: $colour-blue;
        font-size: 0.9em;
        text-decoration: none;
        cursor: pointer;
      }
    }

    &__message {
      display: inline-block;
      margin-bottom: 5px;
    }
  }
}
