@charset "UTF-8";

@use 'foundation' as *;

.p-tooltip {
  min-width: 100px;
  margin-top: -10px;
  border: none;
  background-color: rgba($colour-black, 0.7);
  color: $colour-white;

  &__posted-at {
    display: inline-block;
    margin-right: 0.5em;
  }
}
