@charset "UTF-8";

@use './foundation' as f;

.p-tooltip {
  min-width: 100px;
  margin-top: -10px;
  border: none;
  background-color: rgba(f.$colour-black, .7);
  color: f.$colour-white;

  &__posted-at {
    display: inline-block;
    margin-right: .5em;
  }
}
