@charset "UTF-8";

@use 'foundation' as f;

.c-modal {
  display: block;
  position: relative;
  margin: 0 auto;
  padding: 1.25em;
  border-radius: .3125em;
  background-color: f.$colour-white;

  @include f.view-at('p') {
    max-width: 400px;
  }

  @include f.view-at('s') {
    width: 90%;
  }

  &--transparent {
    background: transparent;
  }

  &__content {
    padding: 10px 20px;

    & textarea {
      width: 100%;
      max-width: 100%;
      height: 190px;
      max-height: 190px;
    }
  }

  &__select {
    width: 80%;
    margin: 10px auto 0;
    text-align: center;

    // todo: elements must not be nested
    &__btn {
      display: inline-block;
      width: 110px;
      height: 35px;
      margin: 10px;
      padding: .55em 10px;
      border-radius: .25em;
      background-color: f.$colour-blue;
      cursor: pointer;

      & > span {
        color: f.$colour-white;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1.3em;
        font-weight: f.$font-weight-normal;
      }

      &--white {
        background-color: f.$colour-white;

        & > span {
          color: f.$colour-black;
        }
      }

      &--gray-dark {
        background-color: f.$colour-gray-dark;
      }
    }
  }
}
