@charset "UTF-8";

@use './foundation' as f;

@mixin _control {
  position: fixed;
  z-index: f.$z-index-control;
  @content;
}

.l-control {
  &__topleft {
    @include _control;
    top: 0;
    left: 0;
    margin: 10px 0 0 10px;
    height: 20px;
    width: 30px;
  }

  &__topright {
    @include _control;
    top: 0;
    right: 0;
    margin: 10px 10px 0 0;
    height: 20px;
    width: 30px;
  }

  &__bottomleft {
    @include _control;
    left: 0;
    bottom: 0;
    pointer-events: none;
  }
}
